Version 1.0

[MTR]
MotorNoiseDataType = 4
MotorVolumeMultiply = 1
DoorCloseSoundLength = 1

[Run]
0 = Run0.wav
1 = Run1.wav
2 = Run2.wav
3 = Run3.wav
4 = Run4.wav
5 = Run5.wav
6 = Run6.wav
7 = Run7.wav

[Flange]
0 = Flange0.wav

[Motor]
0 = Motor0.wav
1 = Motor1.wav
2 = Motor2.wav
4 = Motor4.wav

[Switch]
0 = Point.wav

[Others]
# Constantly played in background.
Noise = loop.wav
# When breaking below the regeneration brake cutoff speed.
Shoe = rub.wav

[Brake]
Bc release high = AirZero.wav

[Brake Handle]
Min = b_m.wav
apply = b_p.wav
Release = b_m.wav
Max = b_p.wav

[Master Controller]
Max = p_m.wav
Min = p_e.wav
Up =  p_e.wav
Down = p_m.wav

[Reverser]
On = RevFwd.wav
Off = RevN.wav

[Compressor]
Release = airsuspension.wav

[Door]
Open Left = DoorOpn.wav
Open Right = DoorOpn.wav
Close Left = DoorCls.wav
Close Right = DoorCls.wav

[Horn]
Primary = Klaxon1.wav
Secondary = Klaxon0.wav
music = Klaxon2.wav

[Suspension]
left = airsuspension.wav
right = airsuspension.wav

[Pilot Lamp]
On = leave.wav


